<head>
    <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title }} | {{ site.description }}
    {% else %}
      {{ site.title }} | {{ site.description }}
    {% endif %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="/favicon.ico?v=1.1">
    {% seo %}
    <!-- Use Atom -->
    {% feed_meta %}
</head>
