<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="{{ '/' | absolute_url }}">Home</a></li>
        {% for page in site.menu %}
        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
        {% endfor %}
        <li>
            <span class="opener">Submenu</span>
            <ul>
                <li><a href="{{ '/' | absolute_url }}">Home</a></li>
                {% for page in site.menu %}
                <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{{ '/' | absolute_url }}">Home</a></li>
        {% for page in site.menu %}
        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
