<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script src="{{ site.url }}{{ site.baseurl }/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }/assets/js/main.js"></script>
<!-- lunr Search -->
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="{{ site.url }}{{ site.baseurl }/assets/js/search.js"></script>
