<div id="sidebar">
    <div class="inner">
        <!-- Search -->
        <section class="alt">
            <form id="search">
                <input type="text" name="q" id="search-box" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        {% include menu.html %}

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Ante interdum</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="#" class="image"><img src="{{ '/images/pic07.jpg' | absolute_url }}" alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="{{ '/images/pic08.jpg' | absolute_url }}" alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="{{ '/images/pic09.jpg' | absolute_url }}" alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
                <li class="fa-phone">(000) 000-0000</li>
                <li class="fa-home">1234 Somewhere Road #8254<br />
                Nashville, TN 00000-0000</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                {% for social in site.data.settings.social %}
                {% if social.label == "Feed" %}
                <li><a href="{{ social.link | absolute_url }}" target="_blank" class="icon fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
                {% else %}
                <li><a href="{{ social.link }}" target="_blank" class="icon fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <p class="copyright">&copy; {{ site.author }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    </div>
</div>
