---
layout: default
---
<section>
    <header class="main">
        <h1>{{ page.title }}</h1>
    </header>
    {% if page.image %}
    <span class="image main"><img src="{{ site.url }}{{ site.baseurl }}/images/{{ page.image }}" alt="" /></span>
    {% endif %}
    {{ content }}
</section>
<section>
    <div class="row">
        <div class="5u 12u$(medium)">
            {% include tags.html %}
        </div>
        <div class="4u 6u(medium)">
            {% include social-sharing.html %}
        </div>
        <div class="3u$ 6u$(medium)">
            <ul class="alt">
                <li>Written on: {{ page.date | date: '%b %d, %Y' }}</li>
                <li>Written by: {{ page.author }}</li>
            </ul>
        </div>
    </div>
    {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
    {% endif %}
</section>
{% include related-posts.html %}
